.journal-2-container {
    padding: 60px 90px 60px 10px;
    background-color: #f7f8fc;
    display: flex;
    justify-content: center;
    
}
.journal-2-wrapper{
    max-width: 1400px;

}

.journal-2-header {
    margin-bottom: 30px;
    
}

.journal-2-recent-posts {
    font-size: 12px;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}

.journal-2-title {
    font-size: 32px;
    color: #1a2b49;
    margin: 10px 0;
    margin-bottom: 40px;
}

.journal-2-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.journal-2-card {
    /* background-color: #e6f0fa; */
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    transition: transform 0.3s ease;
}
.journal-2-card:hover {
    transform: scale(0.98);
}

.journal-2-image {
    height: 250px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.journal-2-date {
    position: absolute;
    top: 240px;
    left: 30px;
    background-color: #dde7f5;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 12px;
    z-index: 1;
}

.journal-2-content {
    padding: 30px;
    text-align: left;
    /* background-color: white; */
}

.journal-2-date {
    font-size: 10px;
    color: #1a2b49;
    letter-spacing: 2px;
}

.journal-2-card-title {
    font-size: 20px;
    color: #1a2b49;
    margin: 10px 0;
    font-weight: 600;
}

.journal-2-description {
    font-size: 14px;
    color: #1a2b49;
    line-height: 1.5;
}

.journal-2-read-more {
    display: inline-block;
    padding: 12px 12px;
    /* background-color: #d1e7ff; */
    border: 1px solid rgb(228, 228, 228);
    color: #1a2b49;
    text-decoration: none;
    border-radius: 4px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    margin-top: 10px;
}

.journal-2-read-more:hover {
    background-color: #1a2b49;
    color: #fff;
}

.journal-2-next {
    display: block;
    margin: 50px auto 10px auto;
    padding: 18px 30px;
    background-color:#3572ff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    width: fit-content;
}

.journal-2-next:hover {
    background-color: #0d1a2f;
}

/* Responsive Design */
@media (max-width: 768px) {
    .journal-2-title {
        font-size: 24px;
    }
    .journal-2-grid {
        grid-template-columns: 1fr;
    }
    .journal-2-image {
        height: 150px;
    }
}

@media (max-width: 480px) {
    .journal-2-container {
        padding: 20px 10px;
    }
    .journal-2-card-title {
        font-size: 18px;
    }
    .journal-2-description {
        font-size: 12px;
    }
}